In [35]:
# List of High schools
high_schools = ["Hernandez High School", "Figueroa High School", "Wilson High School", "Wright High School"]

In [36]:
for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [37]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High school": "Griffin", "Type":"District"}, {"High School": "Figueroa", "Type": "District"}, {"High School": "Wilson", "Type": "Charter"}, {"High School": "Wright", "Type": "Charter"}]

In [38]:
{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type':'Charter'}

{'High School': 'Wright', 'Type': 'Charter'}

In [39]:
# List of high school
high_schools = ["Huang High School", "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School", "Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [40]:
# Add the Pandas dependency.
import pandas as pd

In [41]:
# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)

In [42]:
# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [43]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name": "Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name": "Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name": "Griffin High School", "type": "Charter"}]

In [44]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [51]:
# Three separate lists of information on high schools 
schools_id = [0, 1, 2, 3, 4]

School_name = ["Huang High School", "Figueroa High School", "Shelton High School", "Hernandez High School", "Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [46]:
# Initialize a new DataFrame.
schools_df = pd.DataFrame()
({"Huang High School", "Figueroa High School", "Shelton High School", "Hernandez High School", "Griffin High School"})

{'Figueroa High School',
 'Griffin High School',
 'Hernandez High School',
 'Huang High School',
 'Shelton High School'}

In [ ]:
# Add the list to a new DataFrame.
schools_df['school ID'] = school_id

# Print the DataFrame.
schools_df

In [ ]:
# Create a dictionary of informaiton on high schools.
high_schools_dict = {'School ID': schools_id, 'school_name':school_name, 'type':type_of_school}

In [54]:
# Initialize High School Dict to a DataFrame
high_school_dict = pd.DataFrame({"School ID": [0, 1, 2, 3, 4], "School_name": "Huang High School", "Figueroa High School", "Shelton High School", "Hernandez High School", "Griffin High School", "Type: "District", "District", "Charter", "District","Charter"})

SyntaxError: invalid syntax (2920893140.py, line 2)